<div class="wrapper">
  <div class="title-text">
    <div *ngIf="tela">Login Form</div>
    <div *ngIf="!tela">Signup Form</div>
  </div>
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked>
      <input type="radio" name="slide" id="signup">
      <label for="login" class="slide login">Login</label>
      <label for="signup" class="slide signup">Signup</label>
      <div class="slider-tab"></div>
    </div>
    <div *ngIf="tela">
      <h1>Login</h1>
    </div>
    <div *ngIf="!tela">
      <h1>Criar Conta</h1>
    </div>
  </div>
</div>
