<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <button class="btn btn-success" (click)="inicio()">voltar</button>
          <h3 class="card-title text-center mb-5 fw-light fs-5">GRUPOS</h3>
          <div style="display: flex; justify-content: center;">
            <div class="grupos">
              <h4>---um ngFor das despesas do usuario---</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
