<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <div style="display: flex; justify-content: space-between">
            <button class="btn btn-success" (click)="inicio()">voltar</button>
            <button class="btn btn-primary">Ver quitadas</button>
          </div>
          <h3 class="card-title text-center mb-5 fw-light fs-5">Despesas</h3>

          <div style="display: flex; justify-content: center;">
            <div class="grupos">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th></th>
                  </tr>
                  <tr *ngFor="let desp of despesas">
                    <td>{{desp.nome}}</td>
                    <td>{{desp.descricao}}</td>
                    <td>{{desp.valor}}</td>
                    <td>
                      <button class="btn btn-danger" (click)="selecionar(desp)">Quitar</button>
                    </td>
                  </tr>
                </thead>
              </table>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Nova despesa
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Cadastro de despesa</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="nome">Nome</label>
                          <input [(ngModel)]="despesa.nome" type="text" class="form-control" id="nome" placeholder="nome">
                        </div>

                        <div class="form-group">
                          <label for="descricao">Descrição</label>
                          <input [(ngModel)]="despesa.descricao" type="text" class="form-control" id="descricao" placeholder="valor">
                        </div>

                        <div class="form-group">
                          <label for="valor">Valor</label>
                          <input [(ngModel)]="despesa.valor" type="text" class="form-control" id="valor" placeholder="valor">
                        </div>

                        <div class="form-group">
                          <label for="categoria">Categoria</label>
                          <select name="categoria" id="categoria" [(ngModel)]="despesa.categoria">
                            <option *ngFor="let cat of categorias" [value]="cat">{{cat.nome}}</option>
                          </select>
                        </div>

                        <input type="hidden" [(ngModel)]="despesa.codigo_usuario" [value]="usuario.codigo">
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn btn-primary" (click)="criar()">Salvar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
