<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">GASTOS</h5>
          <div style="display: flex; justify-content: center;">
            <div class="flex-child" style="flex: 1;">
              <table class="table table-striped rounded-2">
                <thead>
                  <h4>Pessoais</h4>
                  <tr>
                    <th>Você tem:</th>
                    <th>{{quantidade}}</th>
                    <th>Despesas</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Totalizando:</th>
                    <th>R$ {{valor | number:'1.2-2'}}</th>
                    <th>Reais</th>
                  </tr>
                </tbody>
              </table>
              <button class="btn btn-success" (click)="despesas()">Ver Despesas</button>
            </div>
            <div class="flex-child" style="flex: 1;">
              <table class="table table-striped">
                <thead>
                  <h4 >Grupos</h4>
                  <tr>
                    <th>Você tem:</th>
                    <th>{{qtdGrupo}}</th>
                    <th>Despesas</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Totalizando:</th>
                    <th>R$ {{valorGrupo | number:'1.2-2'}}</th>
                    <th>Reais</th>
                  </tr>
                </tbody>
              </table>
              <button class="btn btn-success" (click)="grupos()">Ver Grupos</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
